{% extends "app_site/base.html" %}
{% load static %}
{% block body_block %}
<main role="main" class="container">
  <div class="jumbotron">
    <h1>We Are ...</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat eget dui eu euismod. Ut tristique mauris elit, ut luctus neque imperdiet in. Morbi at massa accumsan, aliquet nulla sit amet, euismod odio. Quisque cursus imperdiet ex et ullamcorper. Praesent fringilla consequat pharetra. Fusce porta urna lacus, in hendrerit mauris elementum vitae. Suspendisse ac ipsum suscipit, interdum sem convallis, placerat dolor. Nunc vehicula efficitur risus, sed fringilla dui commodo non. Sed sed metus congue, consectetur lacus et, ultrices orci.
    </p><br><br>

    <h4>"If it is valuable then it should look valuable"</h4> <br><br>

      <a class="btn" href="../components/navbar/" role="button">Join Now </a>
  </div>
</main>
<div class="icons-sec">
    <h3>We Believe</h3><br>
    <div class="icons-subsec">
      <center>
      <img class="icon1" src="{% static 'images/dream.gif' %}" alt="" width="20%" height="20%">
      <p class="cap">Dream</p>
      <img class="icon2" src="{% static 'images/design.gif' %}" alt="" width="20%" height="20%">
      <p class="cap">Design</p>
      <img class="icon3" src="{% static 'images/repeat.gif' %}" alt="" width="15%" height="15%">
      <p class="cap">Repeat</p>

      </div>
</div>
<footer>
  <center>
  <p>Copyright @ Anushka_Reddy</p>
</center>
</footer>

{% endblock %}
<!doctype html>
<html lang="en">
  <head>

  </head>
  <body>



</body>
</html>
